<mat-card>
  <mat-card-title>Logowanie</mat-card-title>

  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput [(ngModel)]="user.email" type="email" name="email" placeholder="Email" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('required')">
          To pole jest wymagane
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('pattern')">
          Wprowadzono nieprawidłowy adres email
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput [(ngModel)]="user.password" [type]="hide ? 'password' : 'text'" name="password" placeholder="Hasło" [formControl]="passwordFormControl">
        <mat-icon matSuffix style="cursor: pointer;" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          To pole jest wymagane
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('minlength')">
          Hasło składa się z przynajmniej 7 znaków
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>

    <button color="primary" mat-button (click)="signin()" [disabled]="
    signinLoading 
    ||emailFormControl.hasError('required')
    ||emailFormControl.hasError('pattern')
    ||passwordFormControl.hasError('required')
    ||passwordFormControl.hasError('minlength')">
      <mat-icon *ngIf="!signinLoading" class="material-icons">fingerprint</mat-icon>
      <mat-spinner *ngIf="signinLoading" style="float:left;" color="primary" [diameter]="30" strokeWidth="3"></mat-spinner>
      <span>ZALOGUJ</span>

    </button>

  </mat-card-actions>
</mat-card>