<mat-grid-tile-footer>
    <mat-toolbar>
        <span style="font-size: 14px;"></span>
        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>

        <span style="font-size: 14px;">Wersja: {{version}}</span>
    </mat-toolbar>

</mat-grid-tile-footer>