<div fxLayout="row" fxLayout.xs="column">
  <div fxFlex>
    <mat-card>
      <mat-card-title>Lista użytkowników</mat-card-title>
      <mat-card-subtitle>Wybierz element z listy, aby go zedytować</mat-card-subtitle>
      <mat-card-content>
        <mat-nav-list>

          <mat-list-item *ngFor="let user of users" (click)="onSelect(user)">
            <h3 matLine>{{user.fullName}}{{user.role === 'admin' ? ' (Administrator)' : ''}}</h3>
            <p matLine>{{user.email}}</p>
            <button [disabled]="user?.removeLoading" mat-icon-button (click)="openRemoveDialog(user); $event.stopPropagation()">
              <mat-icon *ngIf="!user?.removeLoading" color="warn" class="material-icons">delete_forever</mat-icon>
              <mat-spinner color="warn" *ngIf="user?.removeLoading" [diameter]="30" strokeWidth="3"></mat-spinner>
            </button>
          </mat-list-item>

        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card>
      <mat-card-title>
        {{ selectedUser._id ? 'Edytowanie istniejącego użytkownika' : 'Dodawanie nowego użytkownika' }}
      </mat-card-title>
      <mat-card-content>
        <form>

          <mat-form-field style="width: 100%;">
            <mat-select placeholder="Ranga" [(ngModel)]="selectedUser.role" name="ranga">
              <mat-option *ngFor="let rank of ranks" [value]="rank.role">{{ rank.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="width: 100%;">
            <input matInput [(ngModel)]="selectedUser.firstName" type="text" name="firstName" placeholder="Imię" [formControl]="firstNameFormControl">
            <mat-error *ngIf="firstNameFormControl.hasError('required')">
              To pole jest wymagane
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 100%;">
            <input matInput [(ngModel)]="selectedUser.lastName" type="text" name="lastName" placeholder="Nazwisko" [formControl]="lastNameFormControl">
            <mat-error *ngIf="lastNameFormControl.hasError('required')">
              To pole jest wymagane
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 100%;">
            <input matInput [(ngModel)]="selectedUser.email" type="email" name="email" placeholder="Adres email" [formControl]="emailFormControl">
            <mat-error *ngIf="emailFormControl.hasError('pattern')">
              Wprowadzono nieprawidłowy adres email
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              To pole jest wymagane
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 100%;">
            <input matInput [(ngModel)]="selectedUser.password" [type]="hidePassword ? 'password' : 'text'" name="password" placeholder="Hasło"
              [formControl]="passwordFormControl">
            <mat-hint>Pozostaw to pole puste jeżeli nie chcesz zmieniać hasła podczas edytowania</mat-hint>
            <mat-icon matSuffix style="cursor: pointer;" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="passwordFormControl.hasError('minlength')">
              Hasło musi składać się z przynajmniej 7 znaków
            </mat-error>
          </mat-form-field>

        </form>
      </mat-card-content>

      <mat-card-actions align="end">

        <button [disabled]="
        saveLoading
        || emailFormControl.hasError('pattern')
        || emailFormControl.hasError('required')
        || firstNameFormControl.hasError('required')
        || lastNameFormControl.hasError('required')
        " mat-button (click)="save(selectedUser)">
          <mat-icon *ngIf="!saveLoading" color="primary" class="material-icons">
            {{selectedUser._id ? 'save' : 'add' }}
          </mat-icon>
          <mat-spinner color="primary" *ngIf="saveLoading" [diameter]="30" strokeWidth="3"></mat-spinner>
          <span>{{ selectedUser._id ? 'ZAPISZ' : 'DODAJ'}}</span>
        </button>

        <button *ngIf="selectedUser._id && !saveLoading" mat-icon-button mat-button (click)="clean()">
          <mat-icon class="material-icons">note_add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>