<div fxLayout="row" fxLayout.xs="column">
  <div fxFlex>
    <mat-card>
      <mat-card-title>Lista katedr</mat-card-title>
      <mat-card-subtitle>Wybierz element z listy, aby go zedytować</mat-card-subtitle>
      <mat-card-content>
        <mat-nav-list>

          <mat-list-item *ngFor="let department of departments" (click)="onSelect(department)">
            <h3 matLine>{{department.name}}</h3>
            <p matLine>{{department.website}}</p>
            <button [disabled]="department?.removeLoading" mat-icon-button (click)="openRemoveDialog(department); $event.stopPropagation()">
              <mat-icon *ngIf="!department?.removeLoading" color="warn" class="material-icons">delete_forever</mat-icon>
              <mat-spinner color="warn" *ngIf="department?.removeLoading" [diameter]="30" strokeWidth="3"></mat-spinner>
            </button>
          </mat-list-item>

        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card>
      <mat-card-title>{{ selectedDepartment._id ? 'Edytowanie istniejącej katedry' : 'Dodawanie nowej katedry' }}</mat-card-title>
      <mat-card-content>
        <form>
          <mat-form-field style="width: 100%;">
            <input matInput [(ngModel)]="selectedDepartment.name" type="text" name="katedra" placeholder="Nazwa katedry" [formControl]="nameFormControl">
            <mat-error *ngIf="nameFormControl.hasError('required')">
              To pole jest wymagane
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 100%;">
            <input matInput [(ngModel)]="selectedDepartment.website" type="url" name="www" placeholder="Adres strony www" [formControl]="urlFormControl">
            <mat-error *ngIf="urlFormControl.hasError('pattern')">
              Wprowadzono nieprawidłowy adres strony www
            </mat-error>
            <mat-error *ngIf="urlFormControl.hasError('required')">
              To pole jest wymagane
            </mat-error>
          </mat-form-field>

        </form>
      </mat-card-content>

      <mat-card-actions align="end">

        <button [disabled]="
        saveLoading
        || urlFormControl.hasError('pattern')
        || urlFormControl.hasError('required')
        || nameFormControl.hasError('required')
        " mat-button (click)="save(selectedDepartment)">
          <mat-icon *ngIf="!saveLoading" color="primary" class="material-icons">{{selectedDepartment._id ? 'save' : 'add' }}</mat-icon>
          <mat-spinner color="primary" *ngIf="saveLoading" [diameter]="30" strokeWidth="3"></mat-spinner>
          <span>{{ selectedDepartment._id ? 'ZAPISZ' : 'DODAJ'}}</span>
        </button>

        <button *ngIf="selectedDepartment._id && !saveLoading" mat-icon-button mat-button (click)="clean()">
          <mat-icon class="material-icons">note_add</mat-icon>
        </button>

      </mat-card-actions>
    </mat-card>
  </div>

</div>