.offerFieldText {
    -webkit-margin-before: 0.3em;
    -webkit-margin-after: 1.5em;
    list-style-type: none;
    padding: 0;
}

.offerFieldTitle {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.pointer {
    cursor: pointer;
}

a:hover, a:visited, a:link, a:active {
    color: rgba(0,0,0,.87);
    text-decoration: none;
}
mat-spinner {
    float:left; 
  }