<mat-card>
  <mat-card-title>
    Szczegóły oferty nr {{offer.extId}} {{ !offer.visible ? ' (niewidoczna)' : ''}}
  </mat-card-title>

  <mat-card-content *ngIf="offer">

    <h4>
      Dodana {{offer.createdAt | date:'dd.MM.yyyy o HH:mm'}} przez {{offer.createdBy ? offer.createdBy.fullName : ''}}
      <ng-container *ngIf="offer.createdAt !== offer.updatedAt">
        <br>(ostatnio zaktualizowana {{offer.updatedAt | date:'dd.MM.yyyy o HH:mm'}}{{offer.updatedBy && (offer.updatedBy._id
        !== offer.createdBy._id) ? ' przez ' + offer.updatedBy.fullName : ''}})
      </ng-container>
    </h4>

    <ng-container *ngIf="offer.topic">
      <mat-card-subtitle class="offerFieldTitle">TEAMAT</mat-card-subtitle>
      <p class="offerFieldText">{{offer.topic}}</p>
    </ng-container>

    <ng-container *ngIf="offer.trl">
      <mat-card-subtitle class="offerFieldTitle">STOPIEŃ GOTOWOŚCI TECHNOLOGICZNEJ (TRL)</mat-card-subtitle>
      <p class="offerFieldText">{{offer.trl}}</p>
    </ng-container>

    <ng-container *ngIf="offer.abstract">
      <mat-card-subtitle class="offerFieldTitle">ABSTRAKT</mat-card-subtitle>
      <p class="offerFieldText" style="white-space: pre-line;">{{offer.abstract}}</p>
    </ng-container>

    <ng-container *ngIf="offer.benefits.length">
      <mat-card-subtitle class="offerFieldTitle">KORZYŚCI Z ZASTOSOWANIA TECHNOLOGII</mat-card-subtitle>
      <ul class="offerFieldText">
        <li *ngFor="let benefit of offer.benefits">
          {{benefit}}
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="offer.specification">
      <mat-card-subtitle class="offerFieldTitle">SPECYFIKACJA</mat-card-subtitle>
      <p class="offerFieldText" style="white-space: pre-line;">{{offer.specification}}</p>
    </ng-container>

    <ng-container *ngIf="offer.techDetails.length">
      <mat-card-subtitle class="offerFieldTitle">PARAMETRY TECHNICZNE</mat-card-subtitle>
      <ul class="offerFieldText">
        <li *ngFor="let techDetail of offer.techDetails">
          {{techDetail.name}}: {{techDetail.value}}
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="offer.applications.length">
      <mat-card-subtitle class="offerFieldTitle">ZASTOSOWANIA</mat-card-subtitle>
      <ul class="offerFieldText">
        <li *ngFor="let application of offer.applications">{{application}}</li>
      </ul>
    </ng-container>

    <ng-container *ngIf="offer.department">
      <mat-card-subtitle class="offerFieldTitle">KATEDRA</mat-card-subtitle>
      <a href="{{offer.department.website}}" target="_blank">
        <p class="offerFieldText">{{offer.department.name}}</p>
      </a>
    </ng-container>

    <ng-container *ngIf="offer.contactPeople.length">
      <mat-card-subtitle class="offerFieldTitle">OSOBY KONTAKTOWE</mat-card-subtitle>
      <ul class="offerFieldText" style="margin-left: 0px">
        <ng-container *ngFor="let contactPerson of offer.contactPeople">
          <a *ngIf="contactPerson.website; else onlyContactPersonFullName" href="{{contactPerson.website}}" target="_blank">
            <li>{{contactPerson.fullName}}</li>
          </a>
          <ng-template #onlyContactPersonFullName>
            <li>{{contactPerson.fullName}}</li>
          </ng-template>
        </ng-container>
      </ul>
    </ng-container>

    <ng-container *ngIf="offer.patents.length">
      <mat-card-subtitle class="offerFieldTitle">PATENTY</mat-card-subtitle>
      <ul class="offerFieldText" style="margin-left: 0px">
        <ng-container *ngFor="let patent of offer.patents">
          <a *ngIf="patent.url; else onlyPatentName" href="{{patent.url}}" target="_blank">
            <li>{{patent.title}}</li>
          </a>
          <ng-template #onlyPatentName>
            <li>{{patent.title}}</li>
          </ng-template>
        </ng-container>
      </ul>
    </ng-container>

    <ng-container *ngIf="offer.ipStatuses.length">
      <mat-card-subtitle class="offerFieldTitle">PRAWA WŁASNOŚCI INTELEKTUALNEJ</mat-card-subtitle>
      <ul class="offerFieldText">
        <li *ngFor="let ipStatus of offer.ipStatuses">{{ipStatus}}</li>
      </ul>
    </ng-container>

    <ng-container *ngIf="offer.partnerships.length">
      <mat-card-subtitle class="offerFieldTitle">OCZEKIWANA FORMA WSPÓŁPRACY</mat-card-subtitle>
      <ul class="offerFieldText">
        <li *ngFor="let partnership of offer.partnerships">{{partnership}}</li>
      </ul>
    </ng-container>

    <ng-container *ngIf="offer.relatedOffers.length">
      <mat-card-subtitle class="offerFieldTitle">POWIĄZANE OFERTY</mat-card-subtitle>
      <ul class="offerFieldText" style="margin-left: 0px">
        <li *ngFor="let relatedOffer of offer.relatedOffers" class="pointer" (click)="gotoRelatedOffer(relatedOffer._id)">
          ({{relatedOffer.extId}}) {{relatedOffer.topic}}
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="offer.attachments.length">
      <mat-card-subtitle class="offerFieldTitle">ZAŁĄCZNIKI</mat-card-subtitle>
      <ul class="offerFieldText">
        <a style="cursor: pointer;" *ngFor="let attachment of offer.attachments" (click)="download(attachment)">
          <li>{{attachment.originalname}} ({{ attachment.size | fileSize }})</li>
        </a>
      </ul>
    </ng-container>

  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="goBack()">
      <mat-icon class="material-icons">arrow_back</mat-icon>
      <span>COFNIJ</span>
    </button>

    <button *ngIf="isLoggedIn" mat-button (click)="gotoOfferEdit()">
      <mat-icon color="primary" class="material-icons">mode_edit</mat-icon>
      <span>EDYTUJ</span>
    </button>

    <button *ngIf="isLoggedIn" [disabled]="removeLoading" mat-button (click)="openRemoveDialog()">
      <mat-icon *ngIf="!removeLoading" color="warn" class="material-icons">delete_forever</mat-icon>
      <mat-spinner color="warn" *ngIf="removeLoading" [diameter]="30" strokeWidth="3"></mat-spinner>
      <span>USUŃ</span>
    </button>

  </mat-card-actions>
</mat-card>