<mat-grid-tile-header>

  <mat-toolbar color="primary">
    <span>{{title}}</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <ng-container *ngIf="user; else signIn">
      <a style="color: rgba(255,255,255,.87);"routerLink="/authentication/update" matTooltip="{{user.email}}">
        {{user.fullName}}
      </a>
      <a matTooltip="Wylogowanie" href="/api/auth/signout">
        <mat-icon style="padding-left:10px;" color="accent" fontSet="fa" fontIcon="fa-sign-out"></mat-icon>
      </a>
    </ng-container>

    <ng-template #signIn>
      <a matTooltip="Logowanie" matTooltipPosition="left" [routerLink]="['/authentication/signin']">
        <mat-icon color="accent" fontSet="fa" fontIcon="fa-sign-in"></mat-icon>
      </a>
    </ng-template>

  </mat-toolbar>

  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/offers" routerLinkActive #linkOffers="routerLinkActive" [active]="linkOffers.isActive">
      <mat-icon style="height: auto;" fontSet="fa" fontIcon="fa-file-text-o"></mat-icon>Oferty</a>
    <a *ngIf="user?.role === 'admin'" mat-tab-link routerLink="/departments" routerLinkActive #linkDepartments="routerLinkActive" [active]="linkDepartments.isActive">
      <mat-icon style="height: auto;" fontSet="fa" fontIcon="fa-building"></mat-icon>Katedry</a>
    <a *ngIf="user" mat-tab-link routerLink="/contactPeople" routerLinkActive #linkContactPeople="routerLinkActive" [active]="linkContactPeople.isActive">
      <mat-icon style="height: auto;" fontSet="fa" fontIcon="fa-users"></mat-icon>Osoby kontaktowe</a>
    <a *ngIf="user?.role === 'admin'" mat-tab-link routerLink="/users" routerLinkActive #linkUsers="routerLinkActive" [active]="linkUsers.isActive">
      <mat-icon style="height: auto;" fontSet="fa" fontIcon="fa-users"></mat-icon>Użytkownicy</a>
  </nav>
</mat-grid-tile-header>