<mat-card>
  <mat-card-title>{{ offer._id ? 'Edytowanie oferty nr ' + offer.extId : 'Dodawanie nowej oferty'}}
    <!-- VISIBLE -->
    <mat-checkbox matTooltip="Widoczna?" [(ngModel)]="offer.visible" name="widoczna"></mat-checkbox>
  </mat-card-title>

  <mat-card-content>
    <form>
      <!-- TOPIC -->
      <mat-form-field style="width: 100%;">
        <input matInput [(ngModel)]="offer.topic" type="text" name="temat" placeholder="Temat" [formControl]="topicFormControl">
        <mat-error *ngIf="topicFormControl.hasError('required')">
          To pole jest wymagane
        </mat-error>
      </mat-form-field>

      <!-- TRL -->
      <mat-form-field style="width: 100%;">
        <mat-select placeholder="Stopień gotowości technologicznej (TRL)" [(ngModel)]="offer.trl" name="trl" [formControl]="trlFormControl">
          <mat-option *ngFor="let trl of trls" [value]="trl">{{ trl }}</mat-option>
        </mat-select>

        <mat-error *ngIf="trlFormControl.hasError('required')">
          To pole jest wymagane
        </mat-error>
      </mat-form-field>

      <!-- ABSTRACT -->
      <mat-form-field style="width: 100%;">
        <textarea matInput #abstractTextbox maxlength="500" [(ngModel)]="offer.abstract" name="abstrakt" placeholder="Abstrakt" matTextareaAutosize
          matAutosizeMinRows="2" [formControl]="abstractFormControl"></textarea>
        <mat-error *ngIf="abstractFormControl.hasError('required')">
          To pole jest wymagane
        </mat-error>
        <mat-hint align="end">{{abstractTextbox.value?.length || 0}}/500</mat-hint>
      </mat-form-field>

      <!-- BENEFITS -->
      <mat-nav-list dense>
        <mat-card-subtitle>Korzyści z zastosowania technologii</mat-card-subtitle>
        <mat-list-item *ngFor="let benefit of offer.benefits" (click)="onSelectBenefit(benefit)">
          <h3 matLine>{{benefit}}</h3>
          <button mat-icon-button (click)="removeBenefit(benefit); $event.stopPropagation()">
            <mat-icon class="material-icons">remove</mat-icon>
          </button>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field style="width: 100%;">
            <input matInput [(ngModel)]="benefit" type="text" name="korzysc" placeholder="Opis korzyść">
          </mat-form-field>

          <button [disabled]="!benefit" mat-icon-button (click)="addBenefit()">
            <mat-icon class="material-icons">add</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>

      <!-- SPECYFICATION -->
      <mat-form-field style="width: 100%;">
        <textarea matInput [(ngModel)]="offer.specification" name="specyfikacja" placeholder="Specyfikacja" matTextareaAutosize matAutosizeMinRows="3"></textarea>
      </mat-form-field>

      <!-- TECH DETAILS -->
      <mat-nav-list dense>
        <mat-card-subtitle>Parametry techniczne</mat-card-subtitle>
        <mat-list-item *ngFor="let techDetail of offer.techDetails" (click)="onSelectTechDetail(techDetail)">
          <h3 matLine>{{techDetail.name}}: {{techDetail.value}}</h3>
          <button mat-icon-button (click)="removeTechDetail(techDetail); $event.stopPropagation()">
            <mat-icon class="material-icons">remove</mat-icon>
          </button>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field style="width: 50%; padding-right: 1rem;">
            <input matInput [(ngModel)]="techDetail.name" type="text" name="nazwa_parametru" placeholder="Nazwa">
          </mat-form-field>
          <mat-form-field style="width: 50%;">
            <input matInput [(ngModel)]="techDetail.value" type="text" name="wartosc" placeholder="Wartość">
          </mat-form-field>

          <button [disabled]="!techDetail.name || !techDetail.value" mat-icon-button (click)="addTechDetail()">
            <mat-icon class="material-icons">add</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>

      <!-- APPLICATIONS -->
      <mat-nav-list dense>
        <mat-card-subtitle>Zastosowania</mat-card-subtitle>
        <mat-list-item *ngFor="let application of offer.applications" (click)="onSelectApplication(application)">
          <h3 matLine>{{application}}</h3>
          <button mat-icon-button (click)="removeApplication(application); $event.stopPropagation()">
            <mat-icon class="material-icons">remove</mat-icon>
          </button>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field style="width: 100%;">
            <input matInput [(ngModel)]="application" type="text" name="zastosowanie" placeholder="Opis zastosowania">
          </mat-form-field>

          <button [disabled]="!application" mat-icon-button (click)="addApplication()">
            <mat-icon class="material-icons">add</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>

      <!-- DEPARTMENTS -->
      <mat-form-field style="width: 100%;">
        <mat-select [compareWith]="compareFn" placeholder="Katedra" [(ngModel)]="offer.department" name="katedra" [formControl]="departmentFormControl">
          <mat-option *ngFor="let department of departments" [value]="department">{{ department.name }}</mat-option>
        </mat-select>

        <mat-error *ngIf="departmentFormControl.hasError('required')">
          To pole jest wymagane
        </mat-error>
      </mat-form-field>

      <!-- CONTACT PEOPLE -->
      <mat-form-field style="width: 100%">
        <mat-card-subtitle>Osoby kontaktowe</mat-card-subtitle>
        <mat-chip-list #contactPeopleChipList>
          <mat-chip *ngFor="let contactPerson of offer.contactPeople" [selectable]="false" [removable]="true" (remove)="removeContactPersonChip(contactPerson)">
            {{ contactPerson.fullName }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>

          <input matInput #contactPersonInput [matChipInputFor]="contactPeopleChipList" [matChipInputAddOnBlur]="false" [formControl]="contactPeopleFormControl"
            [matAutocomplete]="autoContactPeople" />
        </mat-chip-list>

        <mat-autocomplete #autoContactPeople="matAutocomplete">
          <mat-option *ngFor="let filteredContactPerson of filteredContactPeople | async" (onSelectionChange)="addContactPersonChip(filteredContactPerson, contactPersonInput, $event)"
            [value]="filteredContactPerson">
            {{ filteredContactPerson.fullName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- PATENTS -->
      <mat-nav-list dense>
        <mat-card-subtitle>Patenty</mat-card-subtitle>
        <mat-list-item *ngFor="let patent of offer.patents" (click)="onSelectPatent(patent)">
          <h3 matLine>{{patent.title}}</h3>
          <p matLine>{{patent.url}}</p>
          <button mat-icon-button (click)="removePatent(patent); $event.stopPropagation()">
            <mat-icon class="material-icons">remove</mat-icon>
          </button>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field style="width: 50%; padding-right: 1rem;">
            <input matInput [(ngModel)]="patent.title" type="text" name="nazwa_patentu" placeholder="Nazwa">
          </mat-form-field>

          <mat-form-field style="width: 50%;">
            <input matInput [(ngModel)]="patent.url" type="text" name="url_patentu" placeholder="Adres strony www" [formControl]="patentUrlFormControl">

            <mat-error *ngIf="patentUrlFormControl.hasError('pattern')">
              Wprowadzono nieprawidłowy adres strony www
            </mat-error>
          </mat-form-field>

          <button [disabled]="!patent.title || patentUrlFormControl.hasError('pattern')" mat-icon-button (click)="addPatent()">
            <mat-icon class="material-icons">add</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>

      <!-- STATUS IP -->
      <mat-selection-list dense>
        <mat-card-subtitle>Prawa własności intelektualnej</mat-card-subtitle>
        <mat-list-option *ngFor="let ipStatus of ipStatuses" [selected]="ipStatus.selected" (keyup.Space)="addIpStatus(ipStatus)"
          (click)="addIpStatus(ipStatus)">
          {{ipStatus.name}}
        </mat-list-option>
      </mat-selection-list>
      <mat-list dense>
        <mat-list-item>
          <mat-form-field style="width: 100%; margin-left: 15px;">
            <input matInput [(ngModel)]="customIpStatus.name" type="text" name="wlasny_ipStatus" placeholder="Inne">
          </mat-form-field>

          <button [disabled]="!customIpStatus.name" mat-icon-button (click)="addCustomIpStatus()">
            <mat-icon class="material-icons">add</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>

      <!-- PARTNERSHIP -->
      <mat-selection-list dense>
        <mat-card-subtitle>Oczekiwana forma współpracy</mat-card-subtitle>
        <mat-list-option *ngFor="let partnership of partnerships" [selected]="partnership.selected" (keyup.Space)="addPartnership(partnership)"
          (click)="addPartnership(partnership)">
          {{partnership.name}}
        </mat-list-option>
      </mat-selection-list>
      <mat-list dense>
        <mat-list-item>
          <mat-form-field style="width: 100%; margin-left: 15px;">
            <input matInput [(ngModel)]="customPartnership.name" type="text" name="wlasny_partnership" placeholder="Inne">
          </mat-form-field>

          <button [disabled]="!customPartnership.name" mat-icon-button (click)="addCustomPartnership()">
            <mat-icon class="material-icons">add</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>

      <!-- RELEATED OFFERS -->
      <mat-form-field style="width: 100%">
        <mat-card-subtitle>Powiązane oferty</mat-card-subtitle>
        <mat-chip-list #relatedOffersChipList>
          <mat-chip *ngFor="let relatedOffer of offer.relatedOffers" [selectable]="false" [removable]="true" (remove)="removeRelatedOfferChip(relatedOffer)">
            ({{relatedOffer.extId}}) {{relatedOffer.topic | slice: 0:75 }}{{relatedOffer.topic.length > 75 ? '&hellip;' : ''}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>

          <input matInput #relatedOfferInput [matChipInputFor]="relatedOffersChipList" [matChipInputAddOnBlur]="false" [formControl]="relatedOffersFormControl"
            [matAutocomplete]="autoRelatedOffers" />
        </mat-chip-list>

        <mat-autocomplete #autoRelatedOffers="matAutocomplete">
          <mat-option *ngFor="let filteredRelatedOffer of filteredRelatedOffers | async" (onSelectionChange)="addRelatedOfferChip(filteredRelatedOffer, relatedOfferInput, $event)"
            [value]="filteredRelatedOffer">
            ({{filteredRelatedOffer.extId}}) {{filteredRelatedOffer.topic | slice: 0:75 }}{{filteredRelatedOffer.topic.length > 75 ?
            '&hellip;' : ''}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- TAGS -->
      <mat-form-field style="width: 100%">
        <mat-card-subtitle>Słowa kluczowe</mat-card-subtitle>
        <mat-chip-list #tagsChipList>
          <mat-chip *ngFor="let tag of offer.tags" [selectable]="false" [removable]="true" (remove)="removeTag(tag)">
            {{ tag }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>

          <input matInput #tagInput [matChipInputFor]="tagsChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="false"
            [formControl]="tagsFormControl" [matAutocomplete]="autoTags" (matChipInputTokenEnd)="addTag($event)" />
        </mat-chip-list>

        <mat-autocomplete #autoTags="matAutocomplete">
          <mat-option *ngFor="let filteredTag of filteredTags | async" (onSelectionChange)="addTagChip(filteredTag, tagInput, $event)"
            [value]="filteredTag">
            {{ filteredTag._id }} ({{filteredTag.count}})
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- FILES -->
      <mat-nav-list dense>
        <mat-card-subtitle>Załączniki</mat-card-subtitle>
        <mat-list-item *ngFor="let attachment of offer.attachments" (click)="download(attachment)">
          <h3 matLine>{{attachment.originalname}} ({{ attachment.size | fileSize }})</h3>
          <button mat-icon-button (click)="removeFile(attachment); $event.stopPropagation()">
            <mat-icon class="material-icons">remove</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
      <button [disabled]="!!uploadLoading" mat-button color="accent" (click)="fileInput.click()">
        <mat-icon *ngIf="!uploadLoading">attachment</mat-icon>
        <mat-spinner *ngIf="uploadLoading" color="accent" [diameter]="30" strokeWidth="3"></mat-spinner>
        <span>{{ uploadLoading ? 'Dołączanie plików' : 'Dołącz pliki'}}</span>
      </button>
      <input hidden type="file" #fileInput (change)="upload()" multiple/>

    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="goBack()">
      <mat-icon class="material-icons">arrow_back</mat-icon>
      <span>COFNIJ</span>
    </button>

    <button [disabled]="
      saveLoading ||
      uploadLoading ||
      topicFormControl.hasError('required') ||
      abstractFormControl.hasError('required') ||
      departmentFormControl.hasError('required')" color="primary" mat-button (click)="saveOffer()">
      <mat-icon *ngIf="!saveLoading" class="material-icons">{{offer._id ? 'save' : 'add'}}</mat-icon>
      <mat-spinner *ngIf="saveLoading" color="primary" [diameter]="30" strokeWidth="3"></mat-spinner>
      <span>{{offer._id ? 'ZAPISZ' : 'DODAJ'}}</span>
    </button>
  </mat-card-actions>

</mat-card>