<section class="mat-typography">
  <h1 matDialogTitle>Czy na pewno chcesz usunąć ofertę nr {{offer.extId}}?</h1>
  <mat-dialog-content>
    <p>{{offer.topic}}}</p>
    <h3 class="md-headline">Tej operacji nie można cofnąć!</h3>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="warn" [matDialogClose]="true">USUŃ</button>
    <button mat-button matDialogClose>ANULUJ</button>
  </mat-dialog-actions>
</section>
