<div fxLayout="row" fxLayout.xs="column">
  <div fxFlex>
    <mat-card>

      <mat-card-title>Lista osób kontaktowych</mat-card-title>
      <mat-card-subtitle>Wybierz element z listy, aby go zedytować</mat-card-subtitle>
      <mat-card-content>
        <mat-nav-list>

          <mat-list-item *ngFor="let contactPerson of contactPeople" (click)="onSelect(contactPerson)">
            <h3 matLine>
              <ng-container *ngIf="contactPerson.title">{{contactPerson.title}}</ng-container>
              {{contactPerson.firstName}} {{contactPerson.lastName}}
            </h3>
            <p matLine>{{contactPerson.website}}</p>
            <button [disabled]="contactPerson?.removeLoading" mat-icon-button (click)="openRemoveDialog(contactPerson); $event.stopPropagation()">
              <mat-icon *ngIf="!contactPerson?.removeLoading" color="warn" class="material-icons">delete_forever</mat-icon>
              <mat-spinner color="warn" *ngIf="contactPerson?.removeLoading" [diameter]="30" strokeWidth="3"></mat-spinner>
            </button>
          </mat-list-item>

        </mat-nav-list>
      </mat-card-content>

    </mat-card>
  </div>

  <div fxFlex>
    <mat-card>
      <mat-card-title>
        {{ selectedContactPerson._id ? 'Edytowanie istniejącej osoby kontaktowej' : 'Dodawanie nowej osoby kontaktowej' }}
      </mat-card-title>
      <mat-card-content>
        <form>
          <mat-form-field style="width: 100%;">
            <mat-select placeholder="Tytuł" [(ngModel)]="selectedContactPerson.title" name="tytul">
              <mat-option>brak</mat-option>
              <mat-option *ngFor="let title of titles" [value]="title">{{ title }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="width: 100%;">
            <input matInput [(ngModel)]="selectedContactPerson.firstName" type="text" name="imie" placeholder="Imię" [formControl]="firstNameFormControl">
            <mat-error *ngIf="firstNameFormControl.hasError('required')">
              To pole jest wymagane
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 100%;">
            <input matInput [(ngModel)]="selectedContactPerson.lastName" type="text" name="nazwisko" placeholder="Nazwisko" [formControl]="lastNameFormControl">
            <mat-error *ngIf="lastNameFormControl.hasError('required')">
              To pole jest wymagane
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 100%;">
            <input matInput [(ngModel)]="selectedContactPerson.website" type="url" name="www" placeholder="Adres strony www" [formControl]="urlFormControl">
            <mat-error *ngIf="urlFormControl.hasError('pattern')">
              Wprowadzono nieprawidłowy adres strony www
            </mat-error>
          </mat-form-field>

        </form>
      </mat-card-content>

      <mat-card-actions align="end">

        <button [disabled]="
        saveLoading
        || urlFormControl.hasError('pattern')
        || firstNameFormControl.hasError('required')
        || lastNameFormControl.hasError('required')
        " mat-button (click)="save(selectedContactPerson)">
          <mat-icon *ngIf="!saveLoading" color="primary" class="material-icons">
            {{selectedContactPerson._id ? 'save' : 'add' }}
          </mat-icon>
          <mat-spinner color="primary" *ngIf="saveLoading" [diameter]="30" strokeWidth="3"></mat-spinner>
          <span>{{ selectedContactPerson._id ? 'ZAPISZ' : 'DODAJ'}}</span>
        </button>

        <button *ngIf="selectedContactPerson._id && !saveLoading" mat-icon-button mat-button (click)="clean()">
          <mat-icon class="material-icons">note_add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>



</div>