<section class="mat-typography">
  <h1 matDialogTitle>Czy na pewno chcesz usunąć tego użytkownika?</h1>
  <mat-dialog-content>
    <p>{{data.fullName}}
      <br>{{data.email}}</p>
    <h3 class="md-headline">Tej operacji nie można cofnąć!</h3>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="red" [matDialogClose]="true">USUŃ</button>
    <button mat-button matDialogClose>ANULUJ</button>
  </mat-dialog-actions>
</section>