<section class="mat-typography">
  <h1 matDialogTitle>Czy na pewno chcesz usunąć tę katedrę?</h1>
  <mat-dialog-content>
    <p>{{data.name}}<br>{{data.website}}</p>
    <h3 class="md-headline">Tej operacji nie można cofnąć!</h3>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="warn" [matDialogClose]="true">USUŃ</button>
    <button mat-button matDialogClose>ANULUJ</button>
  </mat-dialog-actions>
</section>
