/* You can add global styles to this file, and also import other style files */
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}
