<mat-card>
  <mat-card-title>Dane użytkownika</mat-card-title>

  <mat-card-content>
    <form>

      <mat-form-field style="width: 100%;">
        <input matInput [(ngModel)]="user.firstName" type="text" name="firstName" placeholder="Imię" [formControl]="firstNameFormControl">
        <mat-error *ngIf="firstNameFormControl.hasError('required')">
          To pole jest wymagane
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 100%;">
        <input matInput [(ngModel)]="user.lastName" type="text" name="lastName" placeholder="Nazwisko" [formControl]="lastNameFormControl">
        <mat-error *ngIf="lastNameFormControl.hasError('required')">
          To pole jest wymagane
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 100%;">
        <input matInput [(ngModel)]="user.email" type="email" name="email" placeholder="Adres email" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('pattern')">
          Wprowadzono nieprawidłowy adres email
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          To pole jest wymagane
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 100%;">
        <input matInput [(ngModel)]="user.password" [type]="hidePassword ? 'password' : 'text'" name="password" placeholder="Hasło"
          [formControl]="passwordFormControl">
        <mat-hint>Pozostaw to pole puste jeżeli nie chcesz zmieniać hasła</mat-hint>
        <mat-icon matSuffix style="cursor: pointer;" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="passwordFormControl.hasError('minlength')">
          Hasło musi składać się z przynajmniej 7 znaków
        </mat-error>
      </mat-form-field>

    </form>

  </mat-card-content>

  <mat-card-actions>

    <button [disabled]="updateLoading" color="primary" mat-button (click)="update()" [disabled]="
    emailFormControl.hasError('required')
    ||emailFormControl.hasError('pattern')
    ||passwordFormControl.hasError('minlength')">
      <mat-icon *ngIf="!updateLoading" class="material-icons">save</mat-icon>
      <mat-spinner color="primary" *ngIf="updateLoading" [diameter]="30" strokeWidth="3"></mat-spinner>
      <span>AKTUALIZUJ</span>

    </button>

  </mat-card-actions>
</mat-card>