/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  display: flex;
  align-items: baseline;
  font-size: 20px;
  justify-content: space-between;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}

.mat-table {
  overflow: auto;
  max-height: auto;
}

/* Column Widths */
.mat-column-extId,
.mat-column-trl {
  width: 10%;
  max-width: 64px;
  text-align: center;
}

.mat-column-department {
  width: 20%;
  max-width: 64px;
}

.mat-column-contactPeople {
  max-width: 20%;
}

.table-row-xd:hover, .table-row-xd:focus {
  cursor:pointer;
  background-color: rgba(103, 58, 183, 0.1);
}