<mat-card>

  <mat-card-title>Lista ofert</mat-card-title>

  <button *ngIf="isLoggedIn" color="primary" mat-button routerLink="/offers/add">
    <mat-icon class="material-icons">add</mat-icon>
    <span>DODAJ NOWĄ OFERTĘ</span>
  </button>

  <mat-card-content>

    <div class="example-header">
      <mat-form-field floatPlaceholder="never">
        <input matInput #filter placeholder="Filtrowanie ofert">
      </mat-form-field>
      <button matTooltip="{{ showAdvancedOptions ? 'Mniej opcji' : 'Więcej opcji'}}" mat-icon-button (click)="showAdvanced()">
        <mat-icon color="primary" class="material-icons">{{showAdvancedIcon}}</mat-icon>
      </button>
    </div>
    <div *ngIf="showAdvancedOptions">
      <mat-form-field>
        <mat-select placeholder="Katedra" [(ngModel)]="dataSource._selectedDepartments" [formControl]="departmentsFormControl" multiple>
          <mat-option *ngFor="let department of departments" [value]="department">{{department.initialism}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Osoby kontaktowe" [(ngModel)]="dataSource._selectedContactPeople" [formControl]="contactPeopleFormControl"
          multiple>
          <mat-option *ngFor="let contactPerson of contactPeople" [value]="contactPerson">{{contactPerson.fullName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container *ngIf="isLoggedIn">
        <mat-checkbox style="margin-left: 32px;" name="niewidoczne" labelPosition="before" [formControl]="showInvisibleFormControl">
          Pokaż niewidoczne
        </mat-checkbox>
      </ng-container>
      
    </div>
    <mat-table #table [dataSource]="dataSource" matSort>

      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Department Column -->
      <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef> Katedra </mat-header-cell>
        <mat-cell *matCellDef="let offer"> {{offer.department.initialism}}</mat-cell>
      </ng-container>

      <!-- ExtId Column -->
      <ng-container matColumnDef="extId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Numer </mat-header-cell>
        <mat-cell *matCellDef="let offer">
          <span *ngIf="offer.visible === false" matTooltip="Niewidoczna">
            *
          </span>{{offer.extId}}
        </mat-cell>
      </ng-container>

      <!-- TRL Column -->
      <ng-container matColumnDef="trl">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Poziom TRL </mat-header-cell>
        <mat-cell *matCellDef="let offer"> {{offer.trl | slice: 0:1}}</mat-cell>
      </ng-container>

      <!-- Topic Column -->
      <ng-container matColumnDef="topic">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Temat </mat-header-cell>
        <mat-cell *matCellDef="let offer"> {{offer.topic}} </mat-cell>
      </ng-container>

      <!-- ContactPeople Column -->
      <ng-container matColumnDef="contactPeople">
        <mat-header-cell *matHeaderCellDef> Osoby kontaktowe </mat-header-cell>
        <mat-cell *matCellDef="let offer">
          <ng-container *ngFor="let contactPerson of offer.contactPeople">
            {{ contactPerson.fullName }}
            <br>
          </ng-container>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="table-row-xd" *matRowDef="let offer; columns: displayedColumns" (click)="gotoDetails(offer)"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="0" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[10, 25, 50, 100, 250]">
    </mat-paginator>

  </mat-card-content>
</mat-card>